.form-group
  label(for="title") EVENT TITLE
  input.form-control(type="text", name="title", placeholder="이벤트 제목을 작성해", value=event.title)
.form-group
  label(for="location") LOCATION
  input.form-control(type="text", name="location", placeholder="이벤트 장소를 작성해", value=event.location)    
.form-group
  label(for='from') STARTS
  input#from(type='text', name="from", value=event.from)
  label(for='to') ENDS
  input#to(type='text', name="to", value=event.to)
.form-group
  label(for="event") EVENT DESCRIPTION
  textarea.form-control(name="content", rows="4")= event.content
.form-group
  label(for="teamname") ORGANIZER NAME
  input.form-control(type="text", name="teamname", placeholder="등록 단체명 작성해", value=event.teamname)
.form-group
  label(for="teamcontent") ORGANIZER DESCRIPTION
  textarea.form-control(name="teamcontent", rows="3")= event.teamcontent
.form-group
  label(for="tags") Tags
  input.form-control(type="text", name="tags", placeholder="분류 태그를 작성해", value=event.tags ? event.tags.join(" ") : "")
.form-group
  label(for='') 이벤트 종류
  select(name='')
    option(value='camp', selected='') 캠프
    |   
    option(value='trip') 여행
    |   
    option(value='festival') 축제
    |   
    option(value='dinner') 저녁식사
    |   
    option(value='seminar') 세미나
    |   
    option(value='else') 기타


.form-group
  h2.main-title Create Tickets
  .button-group
    button.free(type="button")
      i  FREE TICKET
    button.paid(type="button")
      i  PAID TICEKT
  .form-group.fee
    label(for="price") PRICE
    input.form-control(type="text", name="price", value=event.title, placeholder="티켓 금액을 입력해주세요", style="display: none;")
