.form-group
  label(for="title") EVENT TITLE
  input.form-control(type="text", name="title", placeholder="이벤트 제목을 작성해주세요", value=event.title)
.form-group
  label(for="location") LOCATION
  input.form-control(type="text", name="location", placeholder="이벤트 장소를 작성해주세요", value=event.location)    
.form-group
  label(for='from') STARTS
  input#from(type='text', name="from", value=event.from)
  label(for='to') ENDS
  input#to(type='text', name="to", value=event.to)
.form-group
  label(for="event") EVENT DESCRIPTION
  textarea.form-control(name="content", rows="4")= event.content
.form-group
  label(for="teamname") ORGANIZER NAME
  input.form-control(type="text", name="teamname", placeholder="등록 단체명을 작성해주세요", value=event.teamname)
.form-group
  label(for="teamcontent") ORGANIZER DESCRIPTION
  textarea.form-control(name="teamcontent", rows="3")= event.teamcontent
.form-group
  label(for='') 이벤트 종류
  .button-group
    button.camp(type="button")
      i  캠프
    button.trip(type="button")
      i  여행
    button.festival(type="button")
      i  축제
    button.dinner(type="button")
      i  저녁식사
    button.seminar(type="button")
      i  세미나
    button.else(type="button")
      i  기타     
  .form-group.type
    label(for="type")
    input.form(type="text", name="type", value=event.type, style="display: none;")
      
.form-group
  label(for='') 이벤트 분야
  .button-group
    button.business(type="button")
      i  비즈니스
    button.family(type="button")
      i  가족
    button.food(type="button")
      i  음식
    button.health(type="button")
      i  건강
    button.home(type="button")
      i  집
    button.music(type="button")
      i  음악
    button.sports(type="button")
      i  스포츠
    button.other(type="button")
      i  기타     
  .form-group.topic
    label(for="topic")
    input.form(type="text", name="topic", value=event.topic, style="display: none;")


.form-group
  h2.main-title Create Tickets
  .button-group
    button.free(type="button")
      i  FREE TICKET
    button.paid(type="button")
      i  PAID TICEKT
  .form-group.fee
    label(for="price") PRICE
    input.form-control(type="text", name="price", value=event.price, placeholder="티켓 금액을 입력해주세요", style="display: none;")
