extends ../layout

include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/events', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)

    h1.main-title 
      | Event
      if events.total > 0
        .small Total #{events.total} event(s)

    if events.total <= 0 
      .alert.alert-info No events available yet
    else
      .bodies.col-9.col-mid-4
        .card-deck
          .events
            each event in events.docs
              .event
                .card
                  img.card-img-top(src='/images/ioi2.jpg', alt='i.o.i')
                  |         
                  .card-body
                    a.title(href=`/events/${event.id}`)= event.title + "(주최 : " + event.teamname + ")" 
                    |           
                    p.card-text
                      .contant= "[장소]" + " | " + event.location + " | "
                      .contant= "[일정]" + " | " + event.from + " ~ " + event.to + " | "
                      .contant= "[가격]" + " | " + event.price + " | "
                      include _event
                  |         
                  .card-footer
                    small.text-muted
                      .tags.badges
                        each tag in event.tags
                          span.badge.badge-phill.badge-secondary= tag
                          |      
          

            +paginate(events, '/events', {query: "???XXX&&"})

    hr
    a.btn.btn-primary(href='/events/new') Make Event
