extends ../layout

block content
  .container
    h1.main-title= event.title
      //상세보기 할 때 나옴
    .event.show 
      .contant= "[장소] : " + event.location
      .contant= "[일정] : " + event.from + " ~ " + event.to
      .contant= "[가격] : " + event.price
      <br>
      .contant= "[이벤트 소개]" 
      .contant= event.content
      <br>
      .contant= "[주최 단체 소개] : " + event.teamname
      .contant= event.teamcontent
      include _event
  

      .buttons
        button.btn.btn-primary #[i.fa.fa-thumbs-up] Like
        if currentUser && event.author.id == currentUser.id
          | 
          a.btn.btn-outline-secondary(href=`/events/${event.id}/edit`) Edit
          | 
          a.btn.btn-outline-danger.need-confirm-btn(href=`/events/${event.id}?_method=delete`) Delete
      
    if event.numAnswers > 0
      hr
      h3 참여자 : #{event.numAnswers}명
      .answers.show
        each answer in answers
          include _answer

    form(action=`/events/${event.id}/answers`, method='POST')
      .form-group
        label(for='answer') 이벤트 참가하기
        textarea.form-control(name="content", rows="5")
      button.btn.btn-primary(type="submit") 이벤트 참가 신청
